@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TTNormsPro-Regular';
  src: url('/fonts/tt-norms-pro-regular.eot');
  src: url('/fonts/tt-norms-pro-regular.eot?#iefix')
      format('embedded-opentype'),
    url("/fonts/tt-norms-pro-regular.woff2") format("woff2"),
    url("/fonts/tt-norms-pro-regular.woff") format("woff"),
    url("/fonts/tt-norms-pro-regular.ttf") format("truetype"),
    url("/fonts/tt-norms-pro-regular.svg#youworkforthem") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTNormsPro-Medium';
  src: url('/fonts/tt-norms-pro-medium.eot');
  src: url('/fonts/tt-norms-pro-medium.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/tt-norms-pro-medium.woff2') format('woff2'),
    url('/fonts/tt-norms-pro-medium.woff') format('woff'),
    url('/fonts/tt-norms-pro-medium.ttf') format('truetype'),
    url('/fonts/tt-norms-pro-medium.svg#youworkforthem') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTNormsPro-DemiBold';
  src: url('/fonts/tt-norms-pro-demibold.eot');
  src: url('/fonts/tt-norms-pro-demibold.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/tt-norms-pro-demibold.woff2') format('woff2'),
    url('/fonts/tt-norms-pro-demibold.woff') format('woff'),
    url('/fonts/tt-norms-pro-demibold.ttf') format('truetype'),
    url('/fonts/tt-norms-pro-demibold.svg#youworkforthem') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTNormsPro-ExtraBold';
  src: url('/static/fonts/tt-norms-pro-extrabold.eot');
  src: url('/static/fonts/tt-norms-pro-extrabold.eot?#iefix')
      format('embedded-opentype'),
    url('/static/fonts/tt-norms-pro-extrabold.woff2') format('woff2'),
    url('/static/fonts/tt-norms-pro-extrabold.woff') format('woff'),
    url('/static/fonts/tt-norms-pro-extrabold.ttf') format('truetype'),
    url('/static/fonts/tt-norms-pro-extrabold.svg#youworkforthem') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
    @apply bg-white;
    font-family: 'TTNormsPro-Regular', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@screen lg {
    body {
        @apply text-lg leading-8;
    }
}

h1 {
    @apply mt-4 text-4xl;
    font-family: 'TTNormsPro-Regular', Arial, sans-serif;
    font-weight: bold;
}
@screen lg {
    h1 {
        @apply text-8xl;
    }
}

h2 {
    @apply mt-4 text-3xl;
    font-family: 'TTNormsPro-Regular', Arial, sans-serif;
    font-weight: bold;
}
@screen lg {
    h2 {
        @apply text-6xl;
    }
}

h3 {
    @apply mt-4 text-2xl;
    font-family: 'TTNormsPro-Regular', Arial, sans-serif;
    font-weight: bold;
}
@screen lg {
    h3 {
        @apply text-3xl;
    }
}

h4 {
    @apply uppercase text-xl;
    font-family: 'TTNormsPro-Regular', Arial, sans-serif;
    font-weight: bold;
}

h5 {
    @apply uppercase text-sm;
    font-family: 'TTNormsPro-Regular', Arial, sans-serif;
    font-weight: bold;
}

p {
    @apply my-5;
}

ul {
    @apply pl-6;
    list-style: disc;
}

li {
    @apply mt-2 mb-2;
}

a {
    @apply text-black;
}

a:hover {
    text-decoration: underline;
}

.container {
  @apply px-3.5;
  margin: 0 auto;
}
@screen md { /* 768px */
  .container {
    width: 748px;
  }
}
@screen mdlg { /* 960px */
  .container {
    width: 920px;
  }
}
@screen lg { /* 1024px */
  .container {
    @apply px-0;
    width: 960px;
  }
}
@screen lgxl { /* 1140px */
  .container {
    width: 1100px;
  }
}
@screen xl { /* 1280px */
  .container {
    width: 1240px;
  }
}
@screen 2xl { /* 1440px */
  .container {
    width: 1400px;
  }
}
@screen 3xl { /* 1680px */
  .container {
    width: 1600px;
  }
}

.brow {
  @apply flex items-center;
}
.brow:before {
  @apply bg-arYellow mr-2.5;
  content: ' ';
  width: 40px;
  height: 2px;
  display: block;
}

.btn {
  @apply bg-black text-white inline-block rounded-full py-5 px-8 uppercase font-semibold text-smd;
}
.btn:after {
  @apply ml-2.5;
  content: '';
  display: inline-block;
  width: 13.6px;
  height: 8px;
  background: url('/images/icon-arrow-right-white.svg') 0 0 no-repeat;
  background-size: 13.6px 8px;
}

/* HEADER */
.site-header {
  @apply pt-5;
}
@screen lg {
  .site-header {
    @apply pt-16;
  }
}
.site-header .logo {
  display: block;
  width: 53.45px;
  height: 28px;
  text-indent: -9999px;
  background: url('/images/accel-robotics-logo.svg') 0 0 no-repeat;
  background-size: 53.45px 28px;
}
@screen lg {
  .site-header .logo {
    width: 80px;
    height: 41.91px;
    background-size: 80px 41.91px;
  } 
}

/* CONTACT US */
.contact-us {
  background-color: rgba(0, 0, 0, 0.05);
}
.contact-us .container {
  @apply py-10;
}
@screen lg {
  .contact-us .container {
    @apply py-20;
  }
}

/* FOOTER */
.site-footer {
  @apply bg-black text-white py-8;
}
@screen lg {
  .site-footer {
    @apply py-20;
  } 
}
.site-footer a {
  @apply text-white;
}
.site-footer .container {
}

.site-footer .logo {
  display: block;
  width: 196.32px;
  height: 36.55px;
  text-indent: -9999px;
  background: url('/images/accel-robotics-logo-wht.svg') 0 0 no-repeat;
  background-size: 196.32px 36.55px;
}
@screen lg {
  .site-footer .logo {
    width: 293.87px;
    height: 54.72px;
    background-size: 293.87px 54.72px;
  } 
}

.site-footer nav {
  @apply hidden;
}

.footer-menu {
  @apply pb-8;
}
@screen lg {
  .footer-menu {
    @apply pb-20;
  }
}

.site-sub-footer {
  @apply border-t border-arDarkGray pt-5;
}
@screen lg {
  .site-sub-footer {
    @apply flex ;
  }
}

@screen lg {
  .footer-sub-menu {
    @apply w-1/2;
  }
}

.footer-sub-menu ul {
  @apply list-none pl-0 text-sm;
}

.footer-social {
  @apply flex;
}
@screen lg {
  .footer-social {
    @apply flex justify-end w-1/2;
  } 
}
.footer-social ul {
  @apply list-none pl-0;
}
.footer-social ul li {
  @apply inline-block;
}
.footer-social ul li {
  @apply ml-5;
}
.footer-social ul li:first-child {
  @apply ml-0;
}

/* MAIN */
.main {
  @apply pt-5;
}
@screen lg {
  .main {
    @apply pt-20;
  }
}

/* PAGE TITLE */
.page-title {
  @apply my-10;
}
@screen lg {
  .page-title {
    @apply my-20;
  }
}
.page-title h1 {
  @apply mt-5;
}
@screen lg {
  .page-title h1 {
    @apply w-3/4 mt-10;
  }
}

/* FORMATS */
.formats {
  @apply py-10;
  background-color: #f7f7f7;
}
@screen lg {
  .formats {
    @apply pt-20 pb-96 -mb-96;
  }
}
.formats .container {
}
@screen lg {
  .formats .container {
    @apply flex;
  }
}
.formats .gallery-text {
  @apply pb-10;
}
@screen lg {
  .formats .gallery-text {
    @apply w-1/2 pb-20;
  }
}
.formats .gallery-images {
  @apply flex items-end;
}
@screen lg {
  .formats .gallery-images {
    @apply w-1/2 px-10 items-center;
  }
}
.formats .gallery-items {
  @apply flex items-end;
}
@screen lg {
  .formats .gallery-items {
    
  }
}
.formats .gallery-item {
  @apply mx-5 text-center;
}
@screen lg {
  .formats .gallery-item {
    @apply mx-10;
  }
}
.formats .gallery-item img {
  @apply w-full;
}
.formats .gallery-item p {
  @apply w-full my-2.5 text-xs;
}

/* FORMAT */
.format {
  @apply my-10;
}
@screen lg {
  .format {
    @apply mt-0 mb-10;
  }
}
.format .container {
}
@screen lg {
  .format .container {
    @apply flex;
  }
}
.format .gallery-text {
  @apply pb-3.5;
}
@screen lg {
  .format .gallery-text {
    @apply relative w-1/2 bg-white p-20 pr-32;
  }
}
.format .gallery-text h5 {
  @apply brow;
}
@screen lg {
  .format .gallery-text h5 {
    @apply absolute -left-5 top-28;
  }
}
.format .gallery-text ul {
  @apply list-none pl-0 font-semibold text-base;
}
.format .gallery-text ul li {
  @apply py-2.5 border-solid border-t border-opacity-10;
}
.format .gallery-text ul li:first-child {
  @apply border-none;
}
@screen lg {
  .format .gallery-images {
    @apply w-1/2;
  }
}

/* OBB */
.obb {
  @apply mb-20 bg-black relative;
}
.obb .container {
  @apply px-0;
}
@screen lg {
  .obb .container {
    @apply flex mx-auto justify-end;
  }
}
.obb .featured-image {
  @apply bg-black;
}
@screen lg {
  .obb .featured-image {
    @apply w-1/2;
    /* @apply w-1/2 absolute left-0 bottom-0; */
  }
}
.obb .featured-text {
  @apply px-3.5 py-10 text-white relative z-10;
}
@screen lg {
  .obb .featured-text {
    @apply w-1/2 py-20 pl-20 pr-0 order-last;
  } 
}
.obb .featured-text ul {
  @apply list-none pl-0;
}
.obb .featured-text ul li {
  @apply relative pl-3.5;
}
.obb .featured-text ul li:before {
  @apply block absolute bg-arYellow left-0 top-2.5 w-1 h-1;
  content: '';
}

/* LOCATIONS */
.locations {
  @apply my-10;
}
@screen lg {
  .locations {
    @apply my-20;
  } 
}
.locations .tabbed-content-nav {
  @apply overflow-x-auto;
}
@screen lg {
  .locations .tabbed-content-nav {
    @apply overflow-visible;
  }
}
.locations ul {
  @apply pl-0 list-none flex;
}
@screen lg {
  .locations ul {
    @apply flex-wrap;
  }
}
.locations ul li {
  @apply mr-5 uppercase font-semibold;
}
.locations ul li:last-child {
  @apply mr-0;
}
.locations ul li a {
  @apply whitespace-nowrap;

}

/* LOCATION */
.location {
  @apply my-10 hidden;
}
@screen lg {
  .location {
    @apply my-20;
  }
}
.location.selected {
  @apply block;
}
.location .container {
}
@screen lg {
  .location .container {
    @apply flex relative justify-end;
    background: url('/images/bg-pattern-1.svg') 0 0 no-repeat;
    background-size: auto 150%;
  }
}
@screen lg {
  .location .gallery-text {
    @apply absolute w-2/5 z-10 bg-white p-10;
    left: 5%;
    top: 5%;
    bottom: 5%;
  }
}
@screen lg {
  .location .gallery-images {
    @apply w-3/5;
  }
}

/* TABBED CONTENT */
.tabbed-content {}
.tabbed-content ul {}
.tabbed-content ul li {}
.tabbed-content ul li a {
  @apply opacity-50;
}
.tabbed-content ul li a.selected,
.tabbed-content ul li a:hover {
  @apply opacity-100 no-underline;
}
.tabbed-content ul li a.selected {
  @apply border-b border-arYellow;
}

.carousel.carousel-slider .control-arrow {
  top: auto !important;
  bottom: 0;
  padding: 0 !important;
  width: 50px !important;
  height: 50px !important;
  background-color: #fff !important;
  opacity: 1 !important;
}
.carousel.carousel-slider .control-arrow:hover {
  background-color: rgba(255, 255, 255, 0.95) !important;
}
.carousel.carousel-slider .control-arrow:before {
  width: 50px !important;
  height: 50px !important;
}

.carousel .control-prev.control-arrow {
  left: auto !important;
  right: 50px !important;
  border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.carousel .control-prev.control-arrow:before {
  display: block !important;
  content: '' !important;
  margin: 0 !important;
  border: none !important;
  background: url('/images/icon-arrow-left.svg') center center no-repeat !important;
}

.carousel .control-next.control-arrow {}
.carousel .control-next.control-arrow:before {
  display: block !important;
  content: '' !important;
  margin: 0 !important;
  border: none !important;
  background: url('/images/icon-arrow-right.svg') center center no-repeat !important;
}

/* .carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {} */